.typingAnimation {
  color: white;
  font-size: min(3.5vw, 1.4rem);
  overflow-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
}

.typingAnimation::after {
  content: "_";
  color: white;
  font-weight: 1000;
  display: inline-block;
  animation: blinkCursor 1s steps(2) infinite;
}

@keyframes blinkCursor {
    0%{
      visibility: hidden;
    }
  }
